/* Ensure the body fills the screen and has a background image */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(26, 26, 26);
    background-size: cover;
    display: flex;
    flex-direction: column; /* Stack children vertically */
}
/* Header navigation */
.header-main{
    width: 100%;
    position: fixed;
    height: 7vh;
    background-color: black;
    z-index: 4;
}
/* Main container for layout */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: calc(100vh - 72px); /* Subtract header height */
    position: relative;
    margin-top: 72px; /* Add space to account for fixed header */
}
/* Buttons */
.page-turn-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: url(../img/cursor2.png) 15 15, pointer;
    padding: 0;
    z-index: 5;
}
.page-turn-button img {
    width: 8vw;
    max-width: 108px;
    height: auto;
}
.page-turn-button.left {
    left: 2vw;
}
.page-turn-button.right {
    right: 2vw;
}
/* Center Images */
.cover-image{
    position: absolute;
    z-index: 2; /* Ensure it appears above other content */
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.center-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0; /* Ensure the pages touch */
    width: 100%;
    height: 100%;
}
.center-images img {
    width: 33%;
    height: auto;
}
#rightImage {
    position: relative; 
}
#properfly {
    position: absolute; /* Positioned dynamically by JavaScript */
    pointer-events: none; /* Prevent interaction */
    z-index: 10; /* Ensure it appears above the right image */
    transform: translate(-50%, -50%); /* Center the GIF */
}
.iframe-section {
    position: absolute; 
    top: 50%;  
    right: 2%; 
    transform: translateY(-50%);    
    z-index: 10; 
    padding: 10px;  
    border-radius: 8px;  
    max-width: 453px;
}
.iframe-section iframe {
    max-width: 100%; 
    height: auto;
}
@media (max-width: 1440px) {
    .iframe-section {
        position: static; /* Makes it flow inline */
        margin-top: 10px; /* Add spacing below navbar */
        transform: none; /* Remove centering transform */
    }
}