.iframe-section {
    position: absolute; 
    top: 50%;  
    right: 2%; 
    transform: translateY(-50%);    
    z-index: 10; 
    padding: 10px;  
    border-radius: 8px;  
    max-width: 453px;
}
.iframe-section iframe {
    max-width: 100%; 
    height: auto;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 99%;
    position: relative;
    margin-top: 9vh; 
}
.loading-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 20px;
}
.page-turn-button {
    align-items: center;
    justify-content: center;
    position: relative;
    background: none;
    border: none;
    cursor: url(../img/cursor2.png) 15 15, pointer;
    padding: 2vh;
    z-index: 5;
}
.page-turn-button img {
    width: 100%;
    max-width: 108px;
    height: auto;
}
.center-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 0;
    width: 99vw;
}
.center-images img {
    width: 33%;
    height: auto;
}
.cover-image{
    position: relative;
    z-index: 2; 
    max-width: 100%;
    max-height: 100%;
}
#properfly {
    position: absolute; /* uses js positioning */
    pointer-events: none; 
    z-index: 10; 
    transform: translate(-50%, -50%); 
}
#mobilePrevButton, #mobileNextButton {
    display: none;
}


@media (max-width: 1440px) {
    .iframe-section {
        position: static;
        margin-top: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 768px) {
    .iframe-section {
        width: 95%;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .mobile-page-turn {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .page-turn-button img {
        width: 60%;
    }
    #mobilePrevButton, #mobileNextButton {
        display: flex;
    }
    #prevButton, #nextButton {
        display: none;
    }
    .center-images { 
        grid-area: images;
        justify-content: center;
        width: 100%;
    }
    .center-images img {
        width: 50vw;
    }
}