body {
    cursor: url(../img/cursor1.png) 15 15, auto;
    background-color: rgb(26, 26, 26);
}
nav {
    text-align: center;
    line-height: 7vh;
}
nav a{
    color: aquamarine;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(1rem + 0.5vw);
    font-variant: small-caps;
    margin: 0 calc(1vw + 10px);
    cursor: url(../img/cursor2.png) 15 15, pointer;
}
h1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}
h2 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
a{
    color: aquamarine;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    cursor: url(../img/cursor2.png) 15 15, pointer;
}
a:visited{ color: coral;}
.header-main{
    width: 100%;
    height: 7vh;
    background-color: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.95), /* regular shadow */
                0 5px 10px rgba(0, 0, 0, 0.2); /* gradient shadow */
    position: relative;
    z-index: 4;
}
body::after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/mendale.gif);
}

.textbox {
    padding: 20px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.76);
}